[run]
branch = False
omit =
    # Mujoco requires a licence
    pytorch_baselines/*/run_mujoco.py
    pytorch_baselines/ppo1/run_humanoid.py
    pytorch_baselines/ppo1/run_robotics.py
    # HER requires mpi and Mujoco
    pytorch_baselines/her/experiment/*
    tests/*
    setup.py

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError()
    if KFAC_DEBUG:
